[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Deepin Backup Restore Tool
Exec=/usr/sbin/deepin-clone %u
Icon=deepin-clone
MimeType=application/x-deepinclone-dim;
Name=Deepin Clone
StartupNotify=true
Terminal=false
Type=Application
Version=0.1
