[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Deepin Backup Restore Tool
Exec=gksu "ionice -c3 /usr/sbin/deepin-clone"
Icon=deepin-clone
MimeType=application/x-deepinclone-dim;
Name=Deepin Clone
Name[zh_CN]=深度备份还原工具
StartupNotify=true
Terminal=false
Type=Application
Version=0.1
