[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Deepin Backup Restore Tool
Exec=/usr/bin/deepin-clone-pkexec %f
GenericName=Clone
Icon=deepin-clone
MimeType=application/x-deepinclone-dim;
Name=Deepin Clone
StartupNotify=true
Terminal=false
Type=Application
Version=0.1
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ዲፕኢን ተተኪ እንደ ነበር መመለሻ መሳሪያ
Comment[ar]=أداة استعادة نسخ احتياطي لديبين
Comment[ast]=Ferramienta de restauración de copies de seguranza de Deepin
Comment[bg]=Deepin резервно копие и възтановяване
Comment[bn]=ডিপিন ব্যাকআপ রিস্টোর টুল
Comment[ca]=Eina de restauració de còpies de seguretat del Deepin
Comment[cs]=Nástroj na obnovení ze zálohy
Comment[da]=Deepin værktøj til gendannelse af sikkerhedskopiering
Comment[de]=Deepin Sicherungs-/Wiederherstellungswerkzeug
Comment[el]=Εργαλείο δημιουργίας και επαναφοράς αντιγράφων ασφαλείας Deepin
Comment[es]=Herramienta Deepin de respaldo y restauración
Comment[es_419]=Herramienta de restauración de copia de seguridad de Deepin
Comment[fa]=ابزار پشتیبان‌گیری و بازیابی دیپین
Comment[fi]=Deepinin varmistus ja palautustyökalu
Comment[fr]=L'outil Deepin de sauvegarde et de restauration système
Comment[gl_ES]=Ferramenta de copia e restauración do Deepin
Comment[hu]=Deepin biztonsági mentés és visszaállítás
Comment[id]=Alat Pemulihan Cadangan Deepin
Comment[it]=Strumento di backup e ripristino di Deepin
Comment[ja]=Deepinバックアップとリストア工具
Comment[ko]=Deepin 백업 복원 도구
Comment[lt]=Deepin atsarginės kopijos atkūrimo įrankis
Comment[mn]=Деепин Нөөцлөх Сэргээх Багаж
Comment[ms]=Alat Pulih Sandar Deepin
Comment[nl]=Deepin back-up- en herstelhulpmiddel
Comment[pl]=Narzędzie Deepin do kopii zapasowych i przywracania
Comment[pt]=Deepin Backup Restore Tool
Comment[pt_BR]=Ferramenta Deepin para Backup e Restauração
Comment[ro]=Unealta de restaurare Deepin
Comment[ru]=Инструмент восстановления Резервной копии Deepin 
Comment[sk]=Deepin Nástroj na obnovenie zálohy
Comment[sl]=Orodje za povrnitev varnostne kopije Deepin
Comment[sq]=Mjet Deepin Ritkhimi Kopjeruajtjesh
Comment[sr]=Дипинов алат за резерве и повраћај
Comment[tr]=Deepin Yedekleme ve Geri Yükleme Aracı
Comment[uk]=Засіб Deepin для відновлення даних з резервних копій
Comment[zh_CN]=深度备份还原工具
Comment[zh_TW]=Deepin 備份還原工具
GenericName[am_ET]=ማባዣ
GenericName[ar]=استنساخ
GenericName[ast]=Clonación
GenericName[bg]=Клониране
GenericName[bn]=ক্লোন করুন
GenericName[ca]=Clona
GenericName[cs]=Klonovat
GenericName[da]=Klon
GenericName[de]=Klonen
GenericName[el]=Κλωνοποίηση
GenericName[es]=Clonar
GenericName[es_419]=Clonar
GenericName[et]=Klooni
GenericName[fa]=شبیه سازی
GenericName[fi]=Kloonaa
GenericName[fr]=Clone 
GenericName[gl_ES]=Clonar
GenericName[hr]=Kloniranje
GenericName[hu]=Klónozás
GenericName[id]=Klon
GenericName[it]=Clone
GenericName[ja]=クローン
GenericName[ko]=Clone
GenericName[lt]=Kopijuoti
GenericName[mn]=Хувилах
GenericName[ms]=Klon
GenericName[nb]=Klon
GenericName[nl]=Klonen
GenericName[pl]=Klonowanie
GenericName[pt]=Clonar
GenericName[pt_BR]=Clone
GenericName[ro]=Clonare
GenericName[ru]=Клонирование
GenericName[sk]=Klonovanie
GenericName[sl]=Kloniraj
GenericName[sq]=Clone
GenericName[sr]=Клонирање
GenericName[tr]=Klon
GenericName[uk]=Клонувальник
GenericName[zh_CN]=备份还原工具
GenericName[zh_TW]=複製
Name[am_ET]=የ ዲፕኢን ማባዣ
Name[ar]=مستنسخ ديبين
Name[ast]=Deepin Clone
Name[bg]=Deepin клониране
Name[bn]=ডিপিন ক্লোন
Name[ca]=Clon del Deepin
Name[cs]=Klonování
Name[da]=Deepin kloning
Name[de]=Deepin Clone
Name[el]=Κλωνοποίηση Deepin
Name[es]=Deepin Clone
Name[es_419]=Deepin Clone
Name[et]=Deepin Clone
Name[fa]=شبیه ساز دیپین
Name[fi]=Deepinin Kloonaaja
Name[fr]=Deepin Clone
Name[gl_ES]=Deepin Clone
Name[hr]=Deepin kloniranje
Name[hu]=Deepin Klónozás
Name[id]=Klon Deepin
Name[it]=Deepin Clone
Name[ja]=Deepinクローン
Name[ko]=Deepin Clone
Name[lt]=Deepin kopija
Name[mn]=Деепин хувилагч
Name[ms]=Klon Deepin
Name[nb]=Deepin Klone
Name[nl]=Deepin Klonen
Name[pl]=Klonowanie Deepin
Name[pt]=Deepin Clone
Name[pt_BR]=Clone Deepin
Name[ro]=Deepin Clone
Name[ru]=Клонирование Deepin
Name[sk]=Deepin Klonovanie
Name[sl]=Klonirnik Deepin
Name[sq]=Klonim Deepin
Name[sr]=Дипин Клонирање
Name[tr]=Deepin Klon
Name[uk]=Клонувальник Deepin
Name[zh_CN]=深度备份还原工具
Name[zh_TW]=Deepin 時光機

