[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Deepin Backup Restore Tool
Exec=/usr/bin/deepin-clone-pkexec %u
Icon=deepin-clone
MimeType=application/x-deepinclone-dim;
Name=Deepin Clone
Name[zh_CN]=深度备份还原工具
StartupNotify=true
Terminal=false
Type=Application
Version=0.1
Comment[ms] = Alat Pulih Sandar Deepin
Name[ms] = Klon Deepin
Icon[ms] = deepin-clone
Comment[bn] = ডিপিন ব্যাকআপ রিস্টোর টুল
Name[bn] = ডিপিন ক্লোন
Icon[bn] = ডিপিন-ক্লোন
Icon[lt] = deepin-clone
Comment[cs] = Nástroj na obnovu zálohy
Name[cs] = Klonování
Icon[cs] = Klonování
Comment[pt] = Ferramenta de Cópia de Segurança e Restauro do Deepin
Name[pt] = Deepin Clone
Icon[pt] = deepin-clone
Comment[pt_BR] = Ferramenta de Backup e Restauração Deepin
Name[pt_BR] = Deepin Clone
Icon[pt_BR] = deepin-clone
Comment[zh_CN] = 深度备份还原工具
Icon[zh_CN] = deepin-clone
Comment[ar] = أداة استعادة نسخ احتياطي لديبين
Name[ar] = مستنسخ ديبين
Icon[ar] = deepin-clone
Comment[sk] = Deepin Nástroj na obnovenie zálohovania
Name[sk] = Deepin Klonovanie
Icon[sk] = deepin-klon
Comment[es_419] = Herramienta de restauración de copia de seguridad de Deepin
Name[es_419] = Deepin Clone
Icon[es_419] = deepin-clone
Comment[es] = Herramienta de restauración de copia de seguridad de Deepin
Name[es] = Deepin Clone
Icon[es] = deepin-clone
Comment[ca] = Eina de restauració de còpies de seguretat del Deepin
Name[ca] = Clon del Deepin
Icon[ca] = clon-deepin
Comment[sl] = Orodje za povrnitev varnostne kopije Deepin
Name[sl] = Klonirnik Deepin
Icon[sl] = klonirnik-deepin
Comment[fr] = Outil de sauvegarde et de restauration Deepin
Name[fr] = Deepin Clone
Icon[fr] = deepin-clone
Comment[da] = Deepin værktøj til gendannelse af sikkerhedskopiering
Name[da] = Deepin kloning
Icon[da] = deepin-clone
Comment[ast] = Ferramienta de restauración Deepin Clone
Name[ast] = Deepin Clone
Icon[ast] = deepin-clone
Comment[uk] = Інструмент відновлення Deepin Backup
Name[uk] = Deepin Clone
Icon[uk] = deepin-clone
Comment[de] = Deepin Sicherungs-/Wiederherstellungswerkzeug
Name[de] = Deepin Clone
Icon[de] = deepin-clone
Comment[ja] = Deepinバックアップとリストア工具
Name[ja] = Deepinクローン
Icon[ja] = deepin-clone
Comment[ro] = Unealta de restaurare Deepin
Name[ro] = Deepin Clone
Icon[ro] = deepin-clone
Comment[nl] = Deepin back-up- en herstelhulpmiddel
Name[nl] = Deepin Klonen
Icon[nl] = deepin-klonen
Comment[tr] = Deepin Yedekleme ve Geri Yükleme Aracı
Name[tr] = Deepin Kopyalayıcı
Icon[tr] = deepin-kopyalayici
Comment[hu] = Deepin biztonsági mentés és visszaállítás
Name[hu] = Deepin Clone
Icon[hu] = deepin-clone
Comment[zh_TW] = deepin 的系統備份及還原工具
Name[zh_TW] = Deepin 時光機
Icon[zh_TW] = deepin-clone
Comment[pl] = Narzędzie Deepin do kopii zapasowych i przywracania
Name[pl] = Klonowanie Deepin
Icon[pl] = deepin-clone
Comment[it] = Strumento di backup e ripristino per Deepin
Name[it] = Deepin Clone
Icon[it] = deepin-clone
Comment[am_ET] = የ ዲፕኢን ተተኪ እንደ ነበር መመለሻ መሳሪያ
Name[am_ET] = የ ዲፕኢን ማባዣ
Icon[am_ET] = የ ዲፕኢን-ማባዣ
Comment[ru] = Инструмент восстановления Резервной копии Deepin
Name[ru] = Клонирование Deepin
Icon[ru] = клонирование-deepin
Comment[bg] = Deepin Резервно Копие и Възтановяване
Name[bg] = Deepin Клониране
Icon[bg] = deepin-клониране
Comment[id] = Alat Pemulihan dan Pencadangan Deepin
Name[id] = Deepin Klon
Icon[id] = deepin-klon
Comment[lt] = Deepin atsarginės kopijos atkūrimo įrankis
Name[lt] = Deepin kopija
Name[fi] = Deepin Kloonaus
Icon[fi] = deepin-clone
Comment[fa] = ابزار پشتیبان‌گیری و بازیابی دیپین
Icon[fa] = شبیه-ساز-دیپین
Name[fa] = شبیه ساز دیپین
Comment[gl_ES] = Ferramenta de copia e restauración do Deepin
Icon[gl_ES] = deepin-clone
Name[gl_ES] = Deepin Clone
