Source: deepin-clone
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>=9),
 qtbase5-dev,
 qtbase5-private-dev,
 deepin-gettext-tools,
 libdtkwidget-dev,
 libdtkcore-dev,
 libdtkgui-dev,
 libdtkcore5-bin,
 pkg-config,
 qttools5-dev-tools,
 cmake,
 libdde-file-manager-dev
Standards-Version: 3.9.8

Package: deepin-clone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, partclone,
  jfsutils, ntfs-3g, xfsprogs
Description: Backup Restore Tool
  It is a tool for disk or partition clone, backup and restore, and other functions.
  It supports clone disk to disk, disk to file, partition to partition, partition to file; and restore from file to disk, file to partition.
